@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    background-color: #7B649A;
}

.header {
    width: 1440px;
    background-color: #7B649A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 50px;
    margin: auto;
}

.header-btn {
    display: flex;
    gap: 46px;
    margin-left: 46px;
}

.header-btn a {
    text-decoration: none;
    color: #6E24AF; 
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: white;
    padding: 12px 35px;
    border-radius: 10px;
}

.conteudo1 {
    max-width: 1440px;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 380px 1fr;
    grid-template-areas: "a c"
                         "b c";
    padding-bottom: 100px;
                         
}

.conteudo1-text {
    grid-area: a;
    color: white;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    line-height: 88px;
    height: 265px;
    width: 745px;
    margin: 120px 40px 0px 90px;
}

.conteudo1-list {
    grid-area: b;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.6px;
    max-width: 600px;
    list-style-type: "\2014\00A0";
    margin: 20px 0px 0px 120px;
}

.form {
    display: flex;
    justify-content: center;
    grid-area: c;
    background: rgb(255, 255, 255);
    width: 480px;
    height: 570px;
    border-radius: 8px;
    margin: 145px 0px 0px 0px;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px;
    color: #7B649A;
    padding: 0px;
    margin: 50px 0px;
}

.form-header {
    margin: 0px auto 41px auto;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 700px;
}

.name {
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.campo {
    display: flex;
    flex-direction: column;
    font-family: 'Noto sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8d8d8d;
}

.campo input {
    border: 1px solid #D4DCFF;
    border-radius: 5px;
    height: 35px;
    margin: 5px 0px;
}

.form-btn {
    margin: 25px 0px;
    border: none;
    background-color: transparent;
    padding: 0px;

}

.form-btn a {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 700px;
    color: white;
    background-color: #7B649A;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo2 {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0px 2px 10px #7B649A, 0px 2px 10px #7B649A;
}

.conteudo2-text {
    max-width: 1440px;
    margin: 105px 160px 57px 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.conteudo2-text h1 {
    padding-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.8px;

}

.conteudo2-text p {
    width: 1000px;
    color: #8d8d8d;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.2px;
    padding-bottom: 30px;
}

.conteudo2-boards {
    max-width: 1440px;
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-wrap: wrap;
}

.boards {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    height: 210px;
    width: 350px;

}

.boards h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    initial-letter: 0.6px;
    text-transform: uppercase;
}

.boards p {
    color: #8d8d8d;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    initial-letter: -0.1px;
}

.conteudo2-edubox {
    width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 160px;
    margin: 160px auto ;
}

.conteudo2-edubox div {
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 270px;
    text-align: justify;
}

.conteudo2-edubox h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.conteudo2-edubox p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.conteudo3 {
    color: white;
    height: 1440px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.conteudo3 h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 7px solid white;
    border-radius: 2px;
    margin: 120px auto 90px auto;
}

.conteudo3-img {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 50px;
}

.conteudo3-img div {
    display: flex;
    flex-direction: column;
    width: 340px;
}

.conteudo3-img h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin: 65px 0px 10px 0px;
}

.conteudo3-img p {
    width: 370px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 24px;
}

.conteudo3-img a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-top: 20px;
}